.appointments {
    width: 100%;
}

.appointmentsAdd {
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: #CE6A6B;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;

    h2{
        margin: 0;
        margin-left: 20px;
    }
}

.appointmentsContent {
    display: flex;
}

.appointment {
    padding: 20px;
    background-color: #CE6A6B;
    border-radius: 20px;
    position: relative;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2{
        margin: 0;
    }
}

.iconAppointment {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    color: #CE6A6B;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modify{ 
    top: 70px;
}