.appointment {
    width: 32%;
    border-radius: 20px;
    background-color: #CE6A6B;
    padding: 20px;
    margin-bottom: 20px;
}

.appointmentContent {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2{
        margin: 0;
    }
}

.iconAppointment {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    color: #CE6A6B;
    position: absolute;
    top: 0px;
    right: 0px;
}

.modify{ 
    top: 40px;
}