.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendarContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.calendarNav {
    background-color: #11151d;
    border-radius: 20px;
    width: 100%;
}

.calendarNavContent {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.monthContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.month {
    display: flex;
    flex-direction: column;
    width: 24%;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #11151d;

    h2 {
        margin-top: 0;
    }
}

.monthContent {
    padding: 20px;
}

.daysContainer {
    display: flex;
    flex-wrap: wrap;
}

.day {
    position: relative;
    display: flex;
    margin-right: 7px;
    margin-bottom: 7px;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #11151d;
    background-color: white;
    color: #11151d;
    cursor: pointer;
}

.day:hover {
    border: 2px solid white;
    background-color: #11151d;
    color: white;
}

.eventDot {
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: rgb(255, 0, 76);
    width: 10px;
    height: 10px;
}
