.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calendarContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.calendarNav {
    background-color: #11151d;
    border-radius: 20px;
    width: 100%;
    h2 {
        font-weight: 100;
        font-size: 20px;
    }
}

.calendarNavContent {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.monthContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.month {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 20px;
    margin-top: 20px;
    background-color: #11151d;

    h2 {
        margin: 0;
        margin-bottom: 5px;
    }
}

.monthContent {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Jours de la semaine */
.weekDays {
    color: #b8c2d2;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Grille de 7 colonnes */
    gap: 7px;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 5px;
}

.weekDay,
.emptyDay {
    border: 2px solid #11151d;
    width: 30px;
    height: 30px;
    font-weight: 100;
    cursor: auto;
}

.daysContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Grille de 7 colonnes */
    gap: 7px;
}

.day {
    position: relative;
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #11151d;
    background-color: white;
    color: #11151d;
    cursor: pointer;
}

.day:hover {
    border: 2px solid white;
    background-color: #11151d;
    color: white;
}

.eventDot {
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: rgb(255, 0, 76);
    width: 10px;
    height: 10px;
}
