.dashboard {
    display: flex;
    flex-direction: column;
    h3 {
        color: black;
    }
}

.dashboardSections {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

.dashboardTitles {
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.dashboardSectionsScroll {
    margin-top: 59.83px;
}

.stuckTitles {
    width: 90%;
    position: fixed;
    top: 85px;
}

.dashboardTitle {
    cursor: pointer;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.activeTitle {
    background-color: #b8c2d289;
}

.actualMonth {
    position: absolute;
    top: 0;
    left: 0;
    width: 32%;
    display: flex;
    justify-content: center;
    h2 {
        margin-top: 0;
    }
}

.stuckActualMonth {
    position: fixed;
    width: 28.77%;
    left: 5%;
    top: 145px;
}

.dashboardMonth {
    height: fit-content;
    background-color: #11151d;
    border-radius: 20px;
    width: 325px;
}

.nextEvents,
.todayEvents {
    background-color: #b8c2d289;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66%;
    margin-bottom: 200px;
    h2 {
        margin-top: 0;
    }
}

.noEvents {
    width: 100%;
    background-color: #11151d;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
}

.nextEventsContent {
    width: 100%;
    position: relative;
}

.nextEventsBtn {
    cursor: pointer;
    margin-left: 20px;
    background-color: #11151d;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextEvent {
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    h3 {
        color: white;
    }
}
