.dashboard {
    display: flex;
    flex-direction: column;
    h3 {
        color: black;
    }
}

.dashboardTitles,
.dashboardSections {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.dashboardTitles {
    z-index: 2;
}

.dashboardSectionsScroll {
    margin-top: 59.83px;
}

.stuckTitles {
    width: 90%;
    position: fixed;
    top: 85px;
}

.dashboardTitle {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actualMonth,
.nextEvents,
.todayEvents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    h2 {
        margin-top: 0;
    }
}
.stuckTodayEvents {
    width: 28.8%;
    left: 35.6%;
    top: 145px;
    position: fixed;
}

.stuckDashboard {
    width: 28.8%;
    top: 145px;
    position: fixed;
}

.fakeMonth {
    display: none;
    width: 32%;
    height: 300px;
}

.fakeMonthOn {
    display: flex;
}

.noEvents {
    width: 100%;
    background-color: #11151d;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
}

.actualMonthOn {
    width: 28%;
    position: fixed;
    top: 85px;
}

.fakeActualMonth {
    width: 32%;
    display: none;
    height: 586.1px;
}

.fakeActualMonthOn {
    display: flex;
}

.dashboardMonth {
    height: fit-content;
    background-color: #11151d;
    border-radius: 20px;
    width: 325px;
}

.nextEventsContent {
    width: 100%;
    position: relative;
}

.nextEventsBtn {
    cursor: pointer;
    margin-left: 20px;
    background-color: #11151d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextEvent {
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
    h3 {
        color: white;
    }
}
