.events {
    width: 100%;
}

.eventsAdd {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #11151d;
    border-radius: 20px;
    margin-bottom: 20px;

    h3 {
        font-size: 18px;
        margin-left: 20px;
    }
}

.eventsContent {
    display: flex;
    flex-direction: column;
}

.event {
    margin-bottom: 20px;
    background-color: #11151d;
    border-radius: 20px;
    position: relative;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
        font-size: 20px;
        margin: 0;
        margin-right: 50px;
    }

    h3 {
        margin-right: 50px;
    }

    p {
        border-top: 2px solid #293346;
        padding-top: 10px;
        margin-bottom: 0;
    }
}
.eventContent {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.iconEvent {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #11151d;
    color: white;
    border: 2px solid white;
}

.iconEvent:hover {
    background-color: white;
    color: #11151d;
}
.delete {
    position: absolute;
    top: 60px;
    right: 20px;
}

.modify {
    position: absolute;
    right: 20px;
    top: 20px;
}
