@font-face {
    font-family: 'Norms';
    src: url('../fonts/TT\ Norms\ Pro\ Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NormsBold';
    src: url('../fonts/TT\ Norms\ Pro\ Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NormsLight';
    src: url('../fonts/TT\ Norms\ Pro\ Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 150px;
}

.headerTitle {
    position: absolute;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222d41;
    border-radius: 20px;
    height: 100%;
    width: 66%;
    transition: width 0.4s ease-in-out;
}

.hideUser {
    width: 100%;
}

.headerTitleContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
        font-family: 'NormsBold';
        margin-left: 20px;
        margin-bottom: 0;
    }

    h2 {
        font-family: 'NormsLight';
        margin-top: 5px;
        margin-left: 20px;
        font-weight: 100;
    }
}

.headerDate {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    margin-right: 20px;

    h2 {
        font-weight: 100;
        margin: 0;
        margin-bottom: 20px;
    }
}

.headerUser {
    transform: translateX(200%);
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    transition: transform 0.4s ease-in-out;

    h2 {
        cursor: pointer;
    }
}

.showUser {
    transform: translateX(0);
}

.userImg {
    cursor: pointer;
    border: 2px solid white;
    margin-right: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
