.header {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
}

.headerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222d41;
    border: 4px solid #222d41;
    border-radius: 20px;
    width: 65.5%;
}

.headerTitleContent {
    h1 {
        margin-left: 20px;
        margin-bottom: 0;
    }

    h2 {
        margin-top: 5px;
        margin-left: 20px;
        font-weight: 200;
    }
}

.headerDate {
    display: flex;
    flex-direction: column;
    margin-right: 20px;

    h2 {
        margin: 0;
    }
}

.headerUser {
    background-color: #7f5056;
    border: 4px solid #7f5056;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31.5%;

    h2 {
        cursor: pointer;
    }
}

.userImg {
    cursor: pointer;
    border: 2px solid white;
    margin-right: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.headerLinks {
    display: none;
}
