.home {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.homeContent {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.homeSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modalOverlay {
    display: none;
    opacity: 0;
    background-color: rgba(88, 88, 88, 0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
}