.home {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    overflow: hidden;
}

.homeContent {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modalOverlay {
    background-color: rgba(88, 88, 88, 0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top {
    position: fixed;
    top: 0;
}

.topLink {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #222d41;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transform: translateX(200%);
    transition: transform 0.4s ease-in-out;
}

.showTopLink {
    transform: translateX(0%);
}

.fakeNav {
    display: none;
    height: 84.8px;
}

.fakeNavOn {
    display: flex;
}
