.homePage {
    display: flex;
    align-items: center;
}

.homePageImgContainer {
    display: flex;
    justify-content: center;
    width: 50%;
}

.homePageImg {
    width: 80%;
}

.homePageAbout {
    padding: 20px;
    background-color: #f3ebec;
    border-radius: 20px;
    color: #11151d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h2 {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    h3 {
        width: 80%;
        margin: 0;
        margin-bottom: 10px;
        font-weight: 300;
    }
}

.homePageBtns {
    width: 100%;
    display: flex;

    button {
        margin-right: 20px;
    }
}
