.modals {
    position: relative;
    background-color: white;
    width: 500px;
    color: #11151d;
    padding: 20px;
    border: 8px solid #11151d;
    border-radius: 20px;
    transition: transform 0.4s ease-in-out;

    h2 {
        margin-top: 0;
    }

    p {
        margin-top: 0;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    input {
        padding-left: 10px;
        border: 2px solid;
        height: 40px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    textarea {
        border: 2px solid;
        border-radius: 10px;
        margin-bottom: 20px;
        height: 100px;
        max-height: 150px;
        min-height: 50px;
        resize: vertical;
    }

    .resizer {
        background: #ccc; /* Couleur de la poignée */
        cursor: nwse-resize; /* Curseur de redimensionnement */
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10px; /* Taille de la poignée */
        height: 10px; /* Taille de la poignée */
    }

    button {
        align-self: center;
        margin: auto;
    }
}

.modal {
    display: flex;
    flex-direction: column;
}

.modalCreateProfil {
    display: flex;
    flex-direction: column;
}

.modalClose {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}
