.nav {
    width: 100%;
    z-index: 2;
    overflow: hidden;
    display: flex;
    padding: 20px 0;
    background-color: white;
}

.stuckNav {
    position: fixed;
    width: 90%;
    top: 0;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    li {
        text-align: center;
        background-color: #222d41;
        cursor: pointer;
        font-size: 20px;
        width: 32%;
        padding: 10px 0;
        border-radius: 20px;
        transform: translateY(0%);
        transition: transform 0.2s ease-in-out;
    }

    li:hover {
        transform: translateY(-5%);
    }
}

.navSection {
    width: 32%;
    display: flex;
    justify-content: space-between;
}

.linkSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
}

.selected {
    background-color: #11151d;
}
