.selectedDaySection {
    display: flex;
    flex-direction: column;
}

.selectedDayNavBtn {
    display: flex;
    justify-content: space-between;
}

.selectedDayNav {
    display: flex;
    width: 66%;
    background-color: #11151d;
    border-radius: 20px;
    margin-bottom: 20px;
}

.selectedDayNavContent {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        cursor: pointer;
    }
}

.selectedDayBtn {
    height: fit-content;
    background-color: #11151d;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    h2 {
        margin-left: 20px;
    }
}

.selectedDay {
    display: flex;
    width: 100%;
}

.selectedDayEvents {
    width: 100%;
}

.selectedDayEvent,
.noEvents {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-width: 100%;
    height: fit-content;
    background-color: #11151d;
    border-radius: 20px;

    h3 {
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.eventDate {
    margin: 0;
    font-weight: 200;
}
