.settings {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    background-color: #11151d;

    button {
        width: fit-content;
        color: #11151d;
        background-color: white;
        align-self: flex-end;
        margin-top: 20px;
    }
}
