@font-face {
    font-family: 'Norms';
    src: url('./fonts/TT\ Norms\ Pro\ Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Norms';
}

body {
    color: white;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    width: fit-content;
    padding: 0 20px;
    height: 50px;
    border-radius: 10px;
    background-color: #11151d;
    border: 2px solid #11151d;
    color: white;
    transform: translateY(0%);
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: translateY(-5%);
}

.material-symbols-rounded {
    font-size: 16px;
}
